/* div{
    width: 10%;
    height: 10%;
    border: 1px solid gray;
} */
.childBox{
    border: 1px solid grey;
    width: 25%;
}
.header{
    display:flex;
    flex-direction: row;
    height: 10%;
    
}
#board{
    height:80vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
}

.color1{

}